{% extends 'base.html' %}

{% block title %} Сотрудники {% endblock %}

{% block content %}
{% load static %}
<div class="content-container">
    <p class="title">Сотрудники</p>
    <a class="add-link" href="{% url 'contract:employee_add_form' %}">Добавить нового сотрудника<img class="plus-img" src="{% static 'document/images/plus.png' %}"></a>
    {% if employee_list %}

        {% for a in employee_list %}
            <a class="item" href="{% url 'contract:employee' a.employee_code %}">{{a.fio}}</a>
        {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}